Repository typicalbot/typicalbot, pull requests merged in 2019-09, with the labels that each got.

#38 Update Contributor Guidelines
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/ENHANCEMENT_SUGGESTION.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: complete, meta

#43 Add support as an alias to help
  src/commands/core/help.js
  src/commands/core/server.js
Labels: complete, core, enhancement

#45 Fix parameter regex in urban command
  src/commands/utility/urban.js
Labels: complete, fix, utility

#46 Update subscriber command/setting
  src/commands/moderation/settings.js
  src/commands/utility/subscribe.js
  src/commands/utility/unsubscribe.js
Labels: complete, fix, utility

#47 Remove/replace old dependencies
  package.json
Labels: complete, enhancement, performance

#48 Cleanup/reformat content of userinfo
  src/commands/utility/userinfo.js
Labels: complete, enhancement, utility

#50 Add discordstatus command
  src/commands/utility/discordstatus.js
Labels: complete, feature, new, utility

#51 Update canvas, make bignum optional
  package.json
Labels: sem: patch, status: complete, type: dependencies

#55 Update Contributor Guidelines
  .github/CONTRIBUTING.md
Labels: merge, sem: none, status: complete, type: github, type: meta

#66 Update bug template
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
Labels: merge, sem: none, status: complete, type: github, type: meta

#65 Update twitch command
  src/commands/utility/twitch.js
Labels: command: utility, merge, sem: patch, status: complete

#64 Rename administration to system
  src/commands/system/eval.js
  src/commands/system/restart.js
  src/commands/system/update.js
Labels: command: system, merge, sem: patch, status: complete

#70 v2.5.1 release
  CHANGELOG.md
  package.json
Labels: status: complete, type: chore, type: release

#72 Update music error message
  src/utility/Music.js
Labels: merge, sem: patch, status: complete, type: fix

#73 v2.5.2 release
  CHANGELOG.md
  package.json
Labels: status: complete, type: chore, type: release

#62 Remove quote and tiger command (dead APIs)
  src/commands/fun/quote.js
  src/commands/fun/tiger.js
Labels: command: fun, merge, sem: minor, status: complete

#79 fix: remove extra single quote
  src/commands/utility/userinfo.js
Labels: command: utility, merge, sem: patch, status: complete, type: fix

#74 Update veza to latest version
  index.js
  package.json
Labels: merge, sem: minor, status: complete, type: dependencies

#81 v2.6.0
  CHANGELOG.md
  package.json
Labels: sem: minor, status: complete, type: chore, type: release
